* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100dvh;
  background: hsl(var(--base));
  color: hsl(var(--text));
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.01em;
  line-height: 1.6;
}

body {
  margin: 0;
  padding: 0 0.5rem;
  background: hsla(var(--crust) / 1);
}

main {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "results"
    "pagination";
  height: 100dvh;
}

header {
  grid-area: header;
  margin: 1rem auto;

  .header-input {
    display: flex;
    justify-content: center;
    gap: 0.1rem;

    input {
      flex: 1;
      padding: 1rem;
      border: 1px solid hsla(var(--subtext0) / 0.1);
      background: hsla(var(--mantle) / 1);
      color: hsl(var(--subtext1));
      border-radius: 10rem;
      text-align: center;
      font-size: 1.2rem;
      transition: 0.2s cubic-bezier(0.2, 0, 0, 1);

      &:hover {
        border-color: hsla(var(--blue) / 0.2);
        background: hsla(var(--surface0) / 0.9);
      }

      &:focus-visible {
        outline: none;
        border-color: hsla(var(--blue) / 0.5);
        background: hsla(var(--surface0) / 0.9);
      }

      &:active {
        border-color: hsla(var(--blue) / 0.3);
        background: hsla(var(--surface0) / 1);
      }
    }
  }

  .header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5rem;

    button {
      padding: 0.25rem 0.5rem;
      border: none;
      border-radius: 5rem;
      font-size: 1.1rem;
      background: hsla(var(--mantle) / 1);
      color: hsl(var(--subtext0));
      border: 1px solid hsla(var(--subtext0) / 0.1);
      cursor: pointer;
      transition: 0.2s cubic-bezier(0.2, 0, 0, 1);

      &:hover {
        border-color: hsla(var(--blue) / 0.2);
        background: hsla(var(--surface0) / 0.9);
      }

      &:focus-visible {
        outline: none;
        border-color: hsla(var(--blue) / 0.5);
        background: hsla(var(--surface0) / 0.9);
      }

      &:active {
        border-color: hsla(var(--blue) / 0.3);
        background: hsla(var(--surface0) / 1);
      }
    }
  }
}

.results-view {
  grid-area: results;
  width: 100%;

  display: flex;
  justify-content: center;
  min-height: 0;
  overflow-y: auto;
  transition: 0.2s cubic-bezier(0.2, 0, 0, 1);

  &.loading {
    .results-list {
      display: none;
    }
  }
}

.results-container {
  position: relative;
  max-width: 568px;
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  background: hsla(var(--crust) / 1);
  border: 1px solid hsla(var(--base) / 1);
  border-radius: 3rem;
  overflow: hidden;

  .results-gradient {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3.5rem;
    pointer-events: none;
    z-index: 2;
    &.results-gradient-top {
      top: 0;
      background: linear-gradient(
        to bottom,
        hsla(var(--crust) / 1),
        hsla(var(--crust) / 0)
      );
    }
    &.results-gradient-bottom {
      background: linear-gradient(
        to top,
        hsla(var(--crust) / 1),
        hsla(var(--crust) / 0)
      );
      bottom: 0;
    }
  }

  .results-list {
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0.3rem;

    .result-item {
      display: flex;
      flex-direction: column;
      border: 1px solid hsla(var(--subtext0) / 0.1);
      background: hsla(var(--surface0) / 0.1);
      border-radius: var(--item-top-radius, 0.5rem)
        var(--item-top-radius, 0.5rem) var(--item-bottom-radius, 0.5rem)
        var(--item-bottom-radius, 0.5rem);
      overflow: hidden;
      margin-bottom: 0.3rem;
      transition:
        background 0.2s cubic-bezier(0.2, 0, 0, 1),
        border-color 0.2s cubic-bezier(0.2, 0, 0, 1);

      &:last-child {
        margin-bottom: 0;
      }

      .result-text {
        padding: 1rem;
      }
      .result-meta {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5em;
        font-size: 0.93em;
        color: hsl(var(--subtext1));
        margin-bottom: 0.5em;

        a {
          color: hsl(var(--mauve));
          text-decoration: none;
          font-weight: 500;
        }

        .result-community a {
          color: hsl(var(--blue));
        }

        .result-date {
          color: hsl(var(--subtext0));
          font-size: 0.92em;
        }
      }

      .result-info {
        overflow: hidden;
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 1.2em;
          color: hsl(var(--text));
        }

        p {
          font-size: 0.95em;
          color: hsl(var(--subtext1));
        }

        /* .highlight {
          background: hsla(var(--blue) / 1);
          padding: 0.2em 0.4em;
          border-radius: 0.3rem;
          color: hsl(var(--crust));
        } */

        .highlight {
          position: relative;
          z-index: 1;
          color: hsl(var(--crust));
          padding: 0.1em;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100%);
            height: 100%;
            background: hsla(var(--blue) / 1);
            border-radius: 0.3rem;
            z-index: -1;
          }
        }
      }

      .result-actions {
        display: flex;
        flex-direction: row-reverse;
        gap: 0.5rem;
        border-top: 1px solid hsla(var(--subtext0) / 0.1);
        overflow: hidden;

        a {
          padding: 0.2rem 2rem;
          border: none;
          font-size: 0.95em;
          cursor: pointer;
          text-align: center;
          border-left: 1px solid hsla(var(--subtext0) / 0.1);
          transition: 0.2s cubic-bezier(0.2, 0, 0, 1);

          &:hover {
            background: hsla(var(--surface0) / 0.3);
          }
          &:focus-visible {
            outline: none;
            background: hsla(var(--surface0) / 0.4);
            border-color: hsla(var(--subtext0) / 0.1);
          }
          &:active {
            background: hsla(var(--surface0) / 0.4);
            border-color: hsla(var(--subtext0) / 0.1);
          }
        }
      }

      a {
        text-decoration: none;
        color: hsl(var(--text));
      }

      &:hover,
      &:focus-within {
        background: hsla(var(--surface0) / 0.35);
      }
      /* &:active {
        background: hsla(var(--surface0) / 0.4);
        border-color: hsla(var(--subtext0) / 0.1);
      } */
    }
  }

  .loading,
  .no-results,
  .no-query {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: hsl(var(--subtext1));
    font-size: 1.2em;
    padding: 1rem;
    text-align: center;

    &.loading {
      color: hsl(var(--blue));
      font-weight: bold;
      font-size: 1.5em;
      animation: pulse 1.5s infinite;
    }
  }
}

.pagination {
  grid-area: pagination;
  margin: 0 auto;
  padding: 0.5rem;
  bottom: 0.5rem;
  z-index: 1000;

  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  transition: 0.2s cubic-bezier(0.2, 0, 0, 1);
}

.header,
.pagination {
  max-width: 568px;
  width: 100%;
}

.pagination button {
  padding: 0.2rem 0.8rem;
  border-radius: 2rem;
  border: 1px solid hsla(var(--subtext0) / 0.1);
  background: hsla(var(--mantle) / 1);
  color: hsl(var(--subtext1));
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s cubic-bezier(0.2, 0, 0, 1);

  &:hover {
    background: hsla(var(--surface0) / 0.9);
    border-color: hsla(var(--blue) / 0.2);
  }
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span {
  white-space: nowrap;
  font-size: 0.98em;
}

.footer {
  max-width: 568px;
  width: 100%;
  background: hsla(var(--mantle) / 1);
  border: 1px solid hsla(var(--subtext0) / 0.1);
  border-bottom: none;
  border-radius: 3rem 3rem 0 0;
  min-height: 5rem;
  padding: 0.75rem;
  margin: 5rem auto 0 auto;

  display: flex;
  flex-direction: column;

  color: hsl(var(--subtext1));
  gap: 1rem;

  a {
    color: hsl(var(--blue));
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s cubic-bezier(0.2, 0, 0, 1);

    &:hover {
      color: hsl(var(--blue) / 0.8);
    }
  }

  .footer-text {
    text-align: left;
    padding-bottom: 1rem;
    border-bottom: 1px solid hsla(var(--subtext0) / 0.1);
    h2 {
      font-size: 2em;
      color: hsl(var(--text));
      margin-bottom: 0.5rem;
    }
  }

  .footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}
